<html>
    <head>
        <title>Kurs Django !</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kurs Django </a></h1>
        </div>

        <div>
            <p>Opublikowane: 17.09.2018, 07:00</p>
            <h2><a href="">Pierwsze kroki</a></h2>
            <p>Poznawanie srodowiska programistycznego, Django.</p>
        </div>

        <div>
            <p>published: 18.09.2018, 07:00</p>
            <h2><a href="">Drugi post</a></h2>
            <p>Zdobywanie doświadczenia :].</p>
        </div>
    </body>
</html>
